.body {
  background-color: rgb(188, 241, 153);
  background-image: linear-gradient(rgb(188, 241, 153), rgb(241, 178, 153), rgb(188, 241, 153));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  flex-direction: row;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  width: 100%;
  height: 100%;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.flex-item-text {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 200px;
  border: solid black;
  border-width: 2px;
  text-align: center;
  box-shadow: 5px 10px #888888;
}

.flex-item-image {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 200px;
  border: solid black;
  border-width: 2px;
  text-align: center;
  transition: width 2s, height 2s, transform 2s;
}

.flex-item-text:hover {
  cursor: pointer;
  background-color: red;
  font-weight: bold;
  font-style: oblique;
  color:darkgreen;
}

.flex-item-image:hover {
  border-width: 10px;
  border-color: yellow;
  cursor: wait;
  width: 275px;
  height: 275px;
  transform: rotate(360deg);
}

@media all and (max-width: 612px), (max-height: 204px) {
  .flex-container { display: none; }
}

@media all and (max-width: 1224px) {
  .flex-container:nth-of-type(6) { display: none; }
}

@media all and (max-width: 1020px) {
  .flex-container:nth-of-type(5) { display: none; }
}

@media all and (max-width: 816px) {
  .flex-container:nth-of-type(4) { display: none; }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-1000%);
  }
  100% {
    transform: translateX(0);
  }
}